<?xml version="1.0" encoding="UTF-8"?>

<phpunit colors="true" bootstrap="./vendor/autoload.php">
    <testsuites>
        <testsuite name="Certificationy Tests">
            <directory suffix="Test.php">./src/Certificationy/Tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude>
                <directory>./vendor</directory>
                <directory>./bin</directory>
                <directory>./src/Certificationy/Tests</directory>
                <directory>./src/Certificationy/Resources</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
